<div id="about" class="container gy-2 p-5 pt-1 mb-5 about-div">

  <div class="row order-lg-1 text-center img-txt text-light mt-0 big-screen-content">
    <h3 class="mb-4">About EventTrackr</h3>
      <p>A website designed with the purpose of streamlining role call for events of all types.</p>
      <p>The built in analytics and reporting functionality will perform the menial calculations for you and free up your time for other tasks.</p>
  </div>

  <!--only visible at (>900px breakpoint)--->

  <div class="row small-screen-content">
    <div class="col-lg order-lg-1 text-center">
      <h3 class="mb-4">About EventTrackr</h3>
        <p>A website designed with the purpose of streamlining role call for events of all types.</p>
        <p>The built in analytics and reporting functionality will perform the menial calculations for you and free up your time for other tasks.</p>
    </div>
  </div>

  <div class='row order-lg-3 mt-2 types-div'>
    <h4 class="mb-4 mt-2 text-center">EventTrackr Supports:</h3>
      <ul class="list-group list-group-flush">
        <% events_array = [ 'Church Events', 'School Functions', 'Networking Conferences', 'Master Classes', 'Zoom Meetings'] %>

        <% events_array.each do |event| %>
          <li class="list-group-item list-group-item-action text-center"><strong><%= event %></strong></li>
        <% end %>
      </ul>
  </div>

</div>