<div class="row img-txt gx-7 p-5 pt-1">

  <!--only visible if user is signed in--->

  <% if user_signed_in? %>
    <div class="col-6 d-grid gap-2 order-lg-2 text-center m-auto event-button">
        <a class='btn btn-primary' href='/events'>My Events</a>
    </div>
  <% end %>

  <!--only visible on small/medium screens (<900px)--->

  <div class="row small-screen-content">
    <div class="col-lg order-lg-1 text-center">
      <h3 class="mb-4">About EventTrackr</h3>
        <p>A website designed with the purpose of streamlining role call for events of all types.</p>
        <p>The built in analytics and reporting functionality will perform the menial calculations for you and free up your time for other tasks.</p>
    </div>
  </div>
  
</div>
