<div class="row">

  <% if user_signed_in? %>
    <div class="col order-lg-3 text-center my-auto">
        <a class='nav-link' href='/events'>View My Events</a>
    </div>
  <% end %>

  <div class='col order-lg-3'>
    <h3 class="mb-4 text-center">Event Types</h3>
      <ul class="list-group list-group-flush">
        <% events_array = [ 'Church Events', 'School Functions', 'Networking Conferences', 'Master Classes', 'Zoom Meetings'] %>

        <% events_array.each do |event| %>
          <li class="list-group-item list-group-item-action text-center"><strong><%= event %></strong></li>
        <% end %>
      </ul>
  </div>
</div>
