<div class="text-center bg-primary text-white row"> <!-- bg-light is background color & p-5 is padding -->
    <h1 class="display-2 mx-auto">Trackr</h1>
    <p class="lead mx-auto">The Best Event Attendance Application on the Web!</p>
</div>